<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head_tag(title)">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Plataforma Web">
		<meta name="author" content="Carlos Martinez Sanchez">
		<title th:text="${title}">Title</title>
		<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/sb-admin-01/font-awesome/css/font-awesome.min.css}" href="../../static/sb-admin-01/font-awesome/css/font-awesome.min.css"/>
		<link type="text/css" rel="stylesheet" th:href="@{/sb-admin-01/dist/css/sb-admin.min.css}" href="../../static/sb-admin-01/dist/css/sb-admin.min.css"/>
		<link type="text/css" rel="stylesheet" th:href="@{/sb-admin-01/datatables/css/dataTables.bootstrap4.css}" href="../../static/sb-admin-01/datatables/css/dataTables.bootstrap4.css"/>
	</head>
	<body>
	</body>
</html>