<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Admin :: Dashboard')">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Admin :: Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Admin :: Dashboard</a>
			        </li>
			        <li class="breadcrumb-item active"><i class="fa fa-inbox"></i>&nbsp;Inicio</li>
		      	</ol>
		      	<div class="card mx-auto mt-5">
		        	<div class="card-header">
		          		<i class="fa fa-folder-open"></i>&nbsp;M&oacute;dulos disponibles en la plataforma
		        	</div>
		        	<div class="card-body">
			        	<div class="row">
		       	 			<div class="col-xl-3 col-sm-6 mb-3">
		       	 				<div class="card">
								  <div class="card-header">
								    <i class="fa fa-users"></i>&nbsp;Usuarios
								  </div>
								  <div class="card-body">
								    <h5 class="card-title">Gesti&oacute;n de usuarios</h5>
								    <p class="card-text">M&oacute;dulo que permite la gesti&oacute;n de los usuarios de la plataforma.</p>
								    <a th:href="@{/dashboard/users}" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Ir</a>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>