<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Admin :: Dashboard')">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Admin :: Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Admin :: Dashboard</a>
			        </li>
			        <li class="breadcrumb-item active">Inicio</li>
		      	</ol>
			</div>
			
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>