<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Admin :: Dashboard :: Usuarios')">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Admin :: Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Admin :: Dashboard</a>
			        </li>
			        <li class="breadcrumb-item active"><i class="fa fa-users"></i>&nbsp;Usuarios</li>
		      	</ol>
		      	<div class="card mx-auto mt-5">
		        	<div class="card-header">
		          		<i class="fa fa-list"></i>&nbsp;Registro de usuarios de la plataforma
		        	</div>
		        	<div class="card-body">
			      		<div th:if="${not #strings.isEmpty(advertice)}" th:text="${advertice}" class="alert alert-warning" role="alert">advertice</div>
			      		<div th:if="${not #strings.isEmpty(deleteSuccess)}" th:text="${deleteSuccess}" class="alert alert-success" role="alert">deleteSuccess</div>
			      		<div th:if="${not #strings.isEmpty(deleteFail)}" th:text="${deleteFail}" class="alert alert-danger" role="alert">deleteFail</div>
		        		<div class="table-responsive">
		            		<table class="table table-bordered" id="dataTable">
		              			<thead>
					                <tr>
					                  	<th>Id</th>
					                  	<th>Nombre de usuario</th>
					                  	<th>Correo electr&oacute;nico</th>
					                  	<th>Perfiles</th>
					                  	<th>Activo</th>
					                  	<th></th>
					                </tr>
				              	</thead>
				              	<tbody>
				                	<tr th:each="user : ${userList}">
				                  		<td th:text="${user.id}">id</td>
				                  		<td th:text="${user.username}">username</td>
				                  		<td th:text="${user.email}">email</td>
				                  		<td>
				                  			<ul>
				                  				<li th:each="userRole : ${user.roleUsers}" th:text="${userRole.role.name}"> </li>
				                  			</ul>
										</td>
				                  		<td>
				                  			<th:block th:if="${user.active}"><i class="fa fa-check"></i></th:block>
				                  			<th:block th:if="${not user.active}"><i class="fa fa-times"></i></th:block>
				                  		</td>
										<td class="d-flex justify-content-end">
											<a class="btn btn-primary" th:href="@{/dashboard/users/view/} + ${user.id}" 
												data-toggle="tooltip" data-placement="top"
												th:title="Detalles"
												rel="nofollow" 
												style="margin-right: 10px;">
												<i class="fa fa-search"></i>
											</a>
											<a class="btn btn-success" th:href="@{/dashboard/users/edit/} + ${user.id}" 
												data-toggle="tooltip" data-placement="top"
												th:title="Editar"
												rel="nofollow" style="margin-right: 10px;">
												<i class="fa fa-edit"></i>
											</a>
											<a class="btn btn-danger" th:href="@{/dashboard/users/delete/} + ${user.id}" 
												data-toggle="tooltip" data-placement="top"
												th:title="Eliminar"
												rel="nofollow" style="margin-right: 10px;">
												<i class="fa fa-trash"></i>
											</a>
										</td>
				                	</tr>
				            	</tbody>
			     			</table>
		        		</div>
		        	</div>
		        	<div class="card-footer">
	        			<a th:href="@{/dashboard/users/new}" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;Nuevo usuario</a>
	        		</div>
			    </div>
			    
			
				<footer class="sticky-footer">
	      			<div class="container">
	        			<div class="text-center">
	          				<small>&copy; Plataforma Web 2018</small>
	        			</div>
	      			</div>
	    		</footer>
	    		
	    		<!-- Scroll to Top Button-->
	    		<a class="scroll-to-top rounded" href="#page-top">
	      			<i class="fa fa-angle-up"></i>
	    		</a>
			</div>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>