<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Dashboard :: ' + ${moduleTitle})">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Dashboard</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules}" ><i class="fa fa-folder-open"></i>M&oacute;dulos</a>
			        </li>
			        <li class="breadcrumb-item active"><i class="fa fa-book"></i>&nbsp;Biblioteca</li>
		      	</ol>
		      	
		      	<div class="card mx-auto mt-5">
		        	<div class="card-header">
		          		<i class="fa fa-folder-open"></i>&nbsp;Funcionalidades disponibles en el m&oacute;dulo
		        	</div>
		        	<div class="card-body">
			        	<div class="row">
		       	 			<div class="col-xl-3 col-sm-6 mb-3">
		       	 				<div class="card">
								  <div class="card-header">
								    <i class="fa fa-upload"></i>&nbsp;Ingreso de documentos
								  </div>
								  <div class="card-body">
								    <h5 class="card-title"></h5>
								    <p class="card-text">M&oacute;dulo que permite el ingreso de documentos a la biblioteca.</p>
								    <a th:href="@{/dashboard/modules/library/upload-file}" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Ir</a>
								  </div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 mb-3">
								<div class="card">
								  <div class="card-header">
								    <i class="fa fa-search"></i>&nbsp;B&uacute;squeda de documentos
								  </div>
								  <div class="card-body">
								    <h5 class="card-title"></h5>
								    <p class="card-text">M&oacute;dulo que permite la b&uacute;squeda de documentos ingresados a la biblioiteca.</p>
								    <a th:href="@{/dashboard/modules/library/search-file}" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Ir</a>
								  </div>
								</div>
							</div>
	       	 			</div>
		        	</div>
		        </div>
		      	
		      	 
			</div>
			
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>