<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Dashboard :: ' + ${moduleTitle} + ' - ' + ${databaseTitle} )">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Dashboard</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules}">
		          			<i class="fa fa-folder-open"></i>&nbsp;M&oacute;dulos
		          		</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules/} + ${module}">
							<i class="fa fa-folder-open"></i>&nbsp;
		          			<span th:text="${moduleTitle}" th:remove="tag">module</span>
						</a>
			        </li>
			        <li class="breadcrumb-item active">
			        	<i class="fa fa-database"></i>
			        	<span th:text="${databaseTitle}" th:remove="tag">database</span>
			        </li>
		      	</ol>
		      	<div class="card mx-auto mt-5">
		        	<div class="card-header">
		          		<i class="fa fa-table"></i>&nbsp;Tablas disponibles en la base de datos
		        	</div>
		        	<div class="card-body">
			        	<div class="row">
		       	 			<div th:each="table : ${listOfTables}" class="col-xl-3 col-sm-6 mb-3">
		       	 				<div class="card">
								  <div class="card-header" th:text="${table}">
								    Nombre table
								  </div>
								  <div class="card-body">
								    <h5 class="card-title"></h5>
								    <p class="card-text">Acceda a todos los registros de la tabla <span th:text="${table}" th:remove="tag"></span>, adem&aacute;s permite su exportaci&oacute;n.</p>
								    <a th:href="@{/dashboard/modules/} + ${module} + '/' + ${database} + '/' + ${table}" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Ir</a>
								  </div>
								</div>
							</div>
		       	 		</div>
		        	</div>
		        </div>
		      	 
			</div>
			
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>