<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Dashboard')">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Dashboard</a>
			        </li>
			        <li class="breadcrumb-item active">M&oacute;dulos</li>
		      	</ol>
		      	
		      	 <div class="row">
       	 			<div class="col-xl-3 col-sm-6 mb-3">
       	 				<div class="card">
						  <div class="card-header">
						    Contabilidad
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">Visualizaci&oacute;n de datos</h5>
						    <p class="card-text">M&oacute;dulo que permite la visualizaci&oacute;n de los datos de Contabilidad.</p>
						    <a th:href="@{/dashboard/modules/contabilidad}" class="btn btn-primary">Ir</a>
						  </div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card">
						  <div class="card-header">
						    Gesti&oacute;n
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">Visualizaci&oacute;n de datos</h5>
						    <p class="card-text">M&oacute;dulo que permite la visualizaci&oacute;n de los datos de Gesti&oacute;n.</p>
						    <a th:href="@{/dashboard/modules/gestion}" class="btn btn-primary">Ir</a>
						  </div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card">
						  <div class="card-header">
						    Remuneraci&oacute;n
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">Visualizaci&oacute;n de datos</h5>
						    <p class="card-text">M&oacute;dulo que permite la visualizaci&oacute;n de los datos de Remuneraci&oacute;n.</p>
						    <a th:href="@{/dashboard/modules/remuneracion}" class="btn btn-primary">Ir</a>
						  </div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card">
						  <div class="card-header">
						    Biblioteca
						  </div>
						  <div class="card-body">
						    <h5 class="card-title">Ingreso y b&uacute;squeda</h5>
						    <p class="card-text">M&oacute;dulo que permite el ingreso y b&uacute;squeda de documentos.</p>
						    <a th:href="@{/dashboard/modules/library}" class="btn btn-primary">Ir</a>
						  </div>
						</div>
       	 			</div>
       	 		</div>
			</div>
			
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>