<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Dashboard' + ${moduleTitle} + ' - ' + ${databaseTitle} )">
		<title>Dashboard</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Dashboard</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules}" >M&oacute;dulos</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules/} + ${module}" th:text="${moduleTitle}">module</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules/} + ${module} + '/' + ${databaseTitle}" th:text="${databaseTitle}">database</a>
			        </li>
			        <li class="breadcrumb-item active" th:text="${tableTitle}">
			        	table
			        </li>
		      	</ol>
		      	<div class="card mx-auto mt-5">
		        	<div class="card-header">
		        		<div class="row">
			        		<div class="col-sm-12 col-md-6">
			        			<i class="fa fa-table"></i>&nbsp;Registros de la tabla
			        		</div>
			        		<div class="col-sm-12 col-md-6">
			        			<span class="d-flex justify-content-end" th:if="${not #strings.isEmpty(export)}">
					          		<a class="btn btn-primary btn-sm" style="margin-right: 10px;" role="button" aria-pressed="true" th:href="@{/dashboard/modules/} + ${module} + '/' + ${databaseTitle} + '/' + ${tableTitle} + '/pdf'">
				          				<i class="fa fa-download"></i>&nbsp;Exportar a PDF
				          			</a>
				          			<a class="btn btn-primary btn-sm" role="button" aria-pressed="true" th:href="@{/dashboard/modules/} + ${module} + '/' + ${databaseTitle} + '/' + ${tableTitle} + '/xlsx'">
				          				<i class="fa fa-download"></i>&nbsp;Exportar a Excel
				          			</a>
				          		</span>
			        		</div>
		        		</div>
		          	</div>
		        	<div class="card-body">
		        		<div class="table-responsive">
		            		<table class="table table-bordered" id="dataTable">
		              			<thead>
					                <tr>
						                <th:block th:each="columnName: ${tableColumnNames}">
						                  	<th th:text="${columnName}">Nombre de columna</th>
						                </th:block>
					                </tr>
				              	</thead>
				              	<tbody>
				                	<tr th:each="row : ${tableRows}">
					                	<th:block th:each="entry : ${row}">
							                <td th:text="${entry.value}">valor del campo en la fila</td>
							            </th:block>
				                	</tr>
				            	</tbody>
			     			</table>
		        		</div>
			        </div>
				</div>
			
				<footer class="sticky-footer">
	      			<div class="container">
	        			<div class="text-center">
	          				<small>&copy; Plataforma Web 2018</small>
	        			</div>
	      			</div>
	    		</footer>
	    		
	    		<!-- Scroll to Top Button-->
	    		<a class="scroll-to-top rounded" href="#page-top">
	      			<i class="fa fa-angle-up"></i>
	    		</a>
			</div>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
	</body>
</html>