<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="sb-admin-01/fragments/head_tag :: head_tag('Biblioteca :: Búsqueda de documentos')">
		<title>Ingreso Archivo</title>
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<div th:replace="sb-admin-01/fragments/menu :: nav('Dashboard')"></div>
		
		<div class="content-wrapper">
			<div class="container-fluid">
				<ol class="breadcrumb">
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard}">Dashboard</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules}"><i class="fa fa-folder-open"></i>&nbsp;M&oacute;dulos</a>
			        </li>
			        <li class="breadcrumb-item">
		          		<a th:href="@{/dashboard/modules/library}"><i class="fa fa-book"></i>&nbsp;Biblioteca</a>
			        </li>
			        <li class="breadcrumb-item active">
			        	<i class="fa fa-search"></i>&nbsp;
		          		<span th:text="${moduleTitle}" th:remove="tag">module</span>
			        </li>
		      	</ol>
		      	
				<div th:if="${#strings.isEmpty(finishedSearch)}" class="card mx-auto mt-5">
			      <div class="card-header" th:inline="text"><i class="fa fa-search"></i>&nbsp;[[${formTitle}]]</div>
			      <div class="card-body">
			      	<form action="#" th:action="@{/dashboard/modules/library/search-file}" th:object="${searchForm}" method="POST">
			          <!-- FILENAME -->
			          <div class="form-group row">
			            <label for="fileName" class="col-sm-2 col-form-label">Nombre</label>
			            <div class="col-sm-10">
					      <input th:field="*{name}" class="form-control" id="fileName" type="text" placeholder="Ingrese el nombre del archivo" maxlength="50">
					    </div>
					    <div th:if="${#fields.hasErrors('name')}" class="w-100"></div>
					    <div th:if="${#fields.hasErrors('name')}" class="col-sm-2" role="alert">error</div>
					    <div th:if="${#fields.hasErrors('name')}" class="col-sm-10">
							<div class="form-control alert alert-danger" id="nameError" th:errors="*{name}"></div>
						</div>
			          </div>
			          
			          <!-- ANIO -->
			          <div class="form-group row">
			            <label for="anio" class="col-sm-2 col-form-label">A&ntilde;o</label>
			            <div class="col-sm-10">
					      <input th:field="*{anio}"  class="form-control" id="anio" type="text" placeholder="Ingrese el a&ntilde;o" maxlength="4" onkeypress="return isNumberKey(event)">
					    </div>
					    <div th:if="${#fields.hasErrors('anio')}" class="w-100"></div>
					    <div th:if="${#fields.hasErrors('anio')}" class="col-sm-2" role="alert">error</div>
					    <div th:if="${#fields.hasErrors('anio')}" class="col-sm-10">
							<div class="form-control alert alert-danger" id="anioError" th:errors="*{anio}"></div>
						</div>
			          </div>
			          
			          <!-- FILE TYPE -->
			          <div class="form-group row">
			            <label for="fileType" class="col-sm-2 col-form-label">Tipo de archivo</label>
			            <div class="col-sm-10">
			              <select th:field="*{type}" class="custom-select">
					      	<option value="">-- Seleccione --</option>
							<option th:each="fileType: ${fileTypeList}"
							      th:value="${fileType}"
							      th:text="${fileType.text}" >
						    </option>
						  </select>
					    </div>
					    <div th:if="${#fields.hasErrors('type')}" class="w-100"></div>
					    <div th:if="${#fields.hasErrors('type')}" class="col-sm-2" role="alert">error</div>
					    <div th:if="${#fields.hasErrors('type')}" class="col-sm-10">
							<div class="form-control alert alert-danger" id="typeError" th:errors="*{type}"></div>
						</div>
			          </div>
			          
			          <!-- MANAGEMENT TYPE -->
			          <div class="form-group row">
			            <label for="managementType" class="col-sm-2 col-form-label">Tipo de gesti&oacute;n</label>
			            <div class="col-sm-10">
					      <select th:field="*{management}" class="custom-select">
					      	<option value="">-- Seleccione --</option>
							<option th:each="managementType: ${managementTypeList}"
							      th:value="${managementType}"
							      th:text="${managementType.value}" >
						    </option>
						  </select>
					    </div>
					    <div th:if="${#fields.hasErrors('management')}" class="w-100"></div>
					    <div th:if="${#fields.hasErrors('management')}" class="col-sm-2" role="alert">error</div>
					    <div th:if="${#fields.hasErrors('management')}" class="col-sm-10">
							<div class="form-control alert alert-danger" id="managementError" th:errors="*{management}"></div>
						</div>
			          </div>
			          
			          <!--ENTERPRISE -->
			          <div class="form-group row">
			            <label for="enterprise" class="col-sm-2 col-form-label">Empresa</label>
			            <div class="col-sm-10">
					      <input th:field="*{enterprise}" class="form-control" id="enterprise" type="text" placeholder="Ingrese el nombre de la empresa" maxlength="100">
					    </div>
					    <div th:if="${#fields.hasErrors('enterprise')}" class="w-100"></div>
					    <div th:if="${#fields.hasErrors('enterprise')}" class="col-sm-2" role="alert">error</div>
					    <div th:if="${#fields.hasErrors('enterprise')}" class="col-sm-10">
							<div class="form-control alert alert-danger" id="enterpriseError" th:errors="*{enterprise}"></div>
						</div>
			          </div>
			          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
			        </form>
			      </div>
				</div>
				
				<div th:if="${not #strings.isEmpty(finishedSearch)}" class="card mx-auto mt-5">
		        	<div class="card-header">
		          		<i class="fa fa-table"></i>&nbsp;<span th:text="${tableTitle}">&nbsp;Resultados de la b&uacute;squeda</span>
		        	</div>
		        	<div class="card-body">
		          		<div class="table-responsive">
		            		<table class="table table-bordered" id="dataTable">
		              			<thead>
					                <tr>
					                  	<th>Nombre</th>
					                  	<th>A&ntilde;o</th>
					                  	<th>Tipo</th>
					                  	<th>Gesti&oacute;n</th>
					                  	<th>Empresa</th>
					                  	<th>Archivo</th>
					                  	<th>Tama&ntilde;o</th>
					                  	<th>Ingresado en</th>
					                  	<th></th>
					                </tr>
				              	</thead>
				              	<tbody>
				                	<tr th:each="file : ${files}">
				                  		<td th:text="${file.name}">nombre</td>
				                  		<td th:text="${file.anio}">anio</td>
				                  		<td th:text="${file.type.text}">tipo</td>
				                  		<td th:text="${file.management.value}">gestion</td>
				                  		<td th:text="${file.enterprise}">empresa</td>
				                  		<td th:text="${file.fileName}">archivo</td>
				                  		<td th:text="${#numbers.formatDecimal(file.size / 1024.0 / 1024.0, 1, 'POINT', 2, 'COMMA')} + ' Mb'">tamanio</td>
				                  		<td th:text="${file.createdAt}">creado</td>
				                  		<td>
				                  			<a th:href="@{/dashboard/modules/library/download-file?name=} + ${file.name}"
				                  				data-toggle="tooltip" data-placement="top" 
				                  				th:title="${'Descargar '} + ${file.fileName}">
				                  				<i class="fa fa-download"></i>
				                  			</a>
				                  		</td>
				                	</tr>
				            	</tbody>
				     		</table>
		             	</div>
		             	<a class="btn btn-primary" th:href="@{/dashboard/modules/library/search-file}"><i class="fa fa-refresh"></i>&nbsp;Volver a buscar</a>
		        	</div>
				</div>
			</div>
			<footer class="sticky-footer">
      			<div class="container">
        			<div class="text-center">
          				<small>&copy; Plataforma Web 2018</small>
        			</div>
      			</div>
    		</footer>
    		
    		<!-- Scroll to Top Button-->
    		<a class="scroll-to-top rounded" href="#page-top">
      			<i class="fa fa-angle-up"></i>
    		</a>
		</div>
		<div th:replace="sb-admin-01/fragments/modal-logout :: modal-logout"></div>
		<div th:replace="sb-admin-01/fragments/footer :: footer"></div>
		<script type="text/javascript" >
		function isNumberKey(evt)
		{
			var charCode = (evt.which) ? evt.which : evt.keyCode;
			if (charCode != 46 && charCode > 31 
			&& (charCode < 48 || charCode > 57))
			return false;
			return true;
		}
		</script>
	</body>
</html>